.menu-mobile-open,
.menu-mobile-open * {
  box-sizing: border-box;
}
.menu-mobile-open {
  background: #ffffff;
  height: 640px;
  position: relative;
  overflow: hidden;
}
.menu-wrapper {
  background: #fcf4f4;
  padding: 0px 20px 0px 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  width: 360px;
  height: 640px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.frame-261 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.menu-items {
  padding: 15px 0px 15px 0px;
  display: flex;
  flex-direction: row;
  gap: 40px;
  align-items: center;
  justify-content: flex-end;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame-14 {
  display: flex;
  flex-direction: row;
  gap: 24px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.frame-10 {
  background: #fefce6;
  border-radius: 40px;
  border-style: solid;
  border-color: #c1272d;
  border-width: 1px;
  padding: 8px 12px 8px 12px;
  display: flex;
  flex-direction: row;
  gap: 2px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.frame-15 {
  padding: 0px 0px 0px 4px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.menu {
  color: #c1272d;
  text-align: left;
  font-family: "NotoSansJp-Medium", sans-serif;
  font-size: 16px;
  font-weight: 500;
  position: relative;
}
.close-icon {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.logo {
  flex-shrink: 0;
  width: 151px;
  height: 33px;
  position: absolute;
  left: 0px;
  top: 18.5px;
  object-fit: cover;
}
.menu-items2 {
  padding: 24px 0px 0px 0px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame-8 {
  border-radius: 40px;
  padding: 8px 16px 8px 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.activities-2024 {
  color: #c1272d;
  text-align: left;
  font-family: "NotoSansJp-Bold", sans-serif;
  font-size: 32px;
  font-weight: 700;
  position: relative;
}
.mdi-chevron-down {
  flex-shrink: 0;
  width: 40px;
  height: 40px;
  position: relative;
  overflow: visible;
}
.divider {
  margin-top: -1px;
  border-style: solid;
  border-color: rgba(193, 39, 45, 0.2);
  border-width: 1px 0 0 0;
  flex-shrink: 0;
  width: 320px;
  height: 0px;
  position: relative;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
.frame-256 {
  border-radius: 40px;
  padding: 8px 16px 8px 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.about {
  color: #c1272d;
  text-align: left;
  font-family: "NotoSansJp-Bold", sans-serif;
  font-size: 32px;
  font-weight: 700;
  position: relative;
}
.mdi-chevron-down2 {
  flex-shrink: 0;
  width: 40px;
  height: 40px;
  position: relative;
  overflow: visible;
}
.frame-257 {
  border-radius: 40px;
  padding: 8px 16px 8px 16px;
  display: flex;
  flex-direction: row;
  gap: 2px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.getting-there {
  color: #c1272d;
  text-align: left;
  font-family: "NotoSansJp-Bold", sans-serif;
  font-size: 32px;
  font-weight: 700;
  position: relative;
}
.frame-258 {
  border-radius: 40px;
  padding: 8px 16px 8px 16px;
  display: flex;
  flex-direction: row;
  gap: 2px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.contact-us {
  color: #c1272d;
  text-align: left;
  font-family: "NotoSansJp-Bold", sans-serif;
  font-size: 32px;
  font-weight: 700;
  position: relative;
}
.frame-259 {
  background: #f8d4d4;
  border-radius: 40px;
  padding: 8px 16px 8px 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.support-us {
  color: #c1272d;
  text-align: left;
  font-family: "NotoSansJp-Bold", sans-serif;
  font-size: 32px;
  font-weight: 700;
  position: relative;
}
.mdi-chevron-down3 {
  flex-shrink: 0;
  width: 40px;
  height: 40px;
  position: relative;
  overflow: visible;
}
.frame-260 {
  padding: 24px 0px 24px 0px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.language-dropdown {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.eng {
  color: #c1272d;
  text-align: left;
  font-family: "NotoSansJp-Medium", sans-serif;
  font-size: 16px;
  font-weight: 500;
  position: relative;
}
.frame-11 {
  border-radius: 40px;
  border-style: solid;
  border-color: #c1272d;
  border-width: 1px;
  padding: 8px 12px 8px 12px;
  display: flex;
  flex-direction: row;
  gap: 2px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.es {
  color: #c1272d;
  text-align: left;
  font-family: "NotoSansJp-Medium", sans-serif;
  font-size: 16px;
  font-weight: 500;
  position: relative;
}
.frame-12 {
  border-radius: 40px;
  border-style: solid;
  border-color: #c1272d;
  border-width: 1px;
  padding: 8px 12px 8px 12px;
  display: flex;
  flex-direction: row;
  gap: 2px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.jap {
  color: #c1272d;
  text-align: left;
  font-family: "NotoSansJp-Medium", sans-serif;
  font-size: 16px;
  font-weight: 500;
  position: relative;
}
