.frame-240,
.frame-240 * {
  box-sizing: border-box;
}
.frame-240 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
}
.menu-wrapper {
  background: #fcf4f4;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 360px;
  position: relative;
}
.menu-items {
  padding: 15px 20px 15px 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.logo {
  flex-shrink: 0;
  width: 151px;
  height: 33px;
  position: relative;
  object-fit: cover;
}
.frame-14 {
  display: flex;
  flex-direction: row;
  gap: 24px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.frame-10 {
  border-radius: 40px;
  border-style: solid;
  border-color: #c1272d;
  border-width: 1px;
  padding: 8px 12px 8px 12px;
  display: flex;
  flex-direction: row;
  gap: 2px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.frame-15 {
  padding: 0px 0px 0px 4px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.menu {
  color: #c1272d;
  text-align: left;
  font-family: "NotoSansJp-Medium", sans-serif;
  font-size: 16px;
  font-weight: 500;
  position: relative;
}
.pixelarticons-menu {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.divider {
  margin-top: -1px;
  border-style: solid;
  border-color: #c1272d;
  border-width: 1px 0 0 0;
  align-self: stretch;
  flex-shrink: 0;
  height: 0px;
  position: relative;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
.header-alternate {
  background: #ffffff;
  padding: 40px 20px 40px 20px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  justify-content: flex-end;
  flex-shrink: 0;
  width: 360px;
  position: relative;
}
.pic-4-3 {
  flex-shrink: 0;
  width: 315.84px;
  height: 200px;
  min-height: 200px;
  position: static;
}
.rectangle-60 {
  background: #d9d9d9;
  width: 315.84px;
  height: 200px;
  position: absolute;
  left: 22.08px;
  top: 40px;
}
.size-fill-container {
  color: #c1272d;
  text-align: left;
  font-family: "NotoSansJp-Bold", sans-serif;
  font-size: 16.025436401367188px;
  font-weight: 700;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: calc(50% - 173.16px);
  width: 145px;
  height: 19.66px;
}
.frame-213 {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.cross-item {
  flex-shrink: 0;
  width: 40px;
  height: 40px;
  position: relative;
  overflow: visible;
}
.header-about-wrapper {
  background: #ffffff;
  border-style: solid;
  border-color: #c1272d;
  border-width: 1px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.volunteer-with-us {
  text-align: left;
  font-family: "MavenPro-Bold", sans-serif;
  font-size: 32px;
  font-weight: 700;
  position: relative;
  align-self: stretch;
  -webkit-text-stroke: 1px #c1272d;
}
.volunteer-with-us-span {
  color: #c1272d;
  font-family: "MavenPro-Bold", sans-serif;
  font-size: 32px;
  font-weight: 700;
}
.volunteer-with-us-span2 {
  font-family: "MavenPro-Bold", sans-serif;
  font-size: 32px;
  font-weight: 700;
}
.we-are-always-looking-to-grow-our-team {
  color: #c1272d;
  text-align: left;
  font-family: "NotoSansJp-Medium", sans-serif;
  font-size: 20px;
  font-weight: 500;
  position: relative;
  align-self: stretch;
}
.expectations-section {
  padding: 40px 0px 40px 20px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: flex-end;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 360px;
  position: relative;
}
.frame-90 {
  padding: 0px 20px 0px 0px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.how-to-start-volunteering {
  color: #c1272d;
  text-align: left;
  font-family: "NotoSansJp-Bold", sans-serif;
  font-size: 32px;
  font-weight: 700;
  position: relative;
  align-self: stretch;
}
.frame-9 {
  background: #fefce6;
  border-radius: 40px;
  border-style: solid;
  border-color: #c1272d;
  border-width: 1px;
  padding: 16px 24px 16px 24px;
  display: flex;
  flex-direction: row;
  gap: 2px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.frame-152 {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.join-us {
  color: #c1272d;
  text-align: left;
  font-family: "NotoSansJp-Medium", sans-serif;
  font-size: 16px;
  font-weight: 500;
  position: relative;
}
.mdi-chevron-down {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.frame-51 {
  background: #fcf4f4;
  padding: 40px 20px 40px 20px;
  display: flex;
  flex-direction: column;
  gap: 48px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame-49 {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.group-56 {
  flex-shrink: 0;
  width: 0px;
  height: 0px;
  position: relative;
  overflow: visible;
}
.subtitle {
  color: #c1272d;
  text-align: left;
  font-family: "NotoSansJp-Medium", sans-serif;
  font-size: 32px;
  font-weight: 500;
  position: relative;
  align-self: stretch;
}
.come-discover-the-traditional-culture-of-japan-in-this-open-air-free-festival-in-the-center-of-barcelona {
  color: #c1272d;
  text-align: left;
  font-family: "NotoSansJp-Regular", sans-serif;
  font-size: 20px;
  line-height: 34px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
.quote-section {
  padding: 40px 20px 40px 20px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  justify-content: flex-end;
  flex-shrink: 0;
  width: 360px;
  position: relative;
}
.pic-4-32 {
  flex-shrink: 0;
  width: 312.95px;
  height: 234.71px;
  position: static;
}
.rectangle-602 {
  background: #d9d9d9;
  width: 312.95px;
  height: 234.71px;
  position: absolute;
  left: 23.53px;
  top: 40px;
}
._4-3 {
  color: #c1272d;
  text-align: left;
  font-family: "NotoSansJp-Bold", sans-serif;
  font-size: 16px;
  font-weight: 700;
  position: absolute;
  left: 172.21px;
  top: 150.31px;
}
.frame-170 {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.group-72 {
  flex-shrink: 0;
  width: 42px;
  height: 42px;
  position: relative;
  overflow: visible;
}
.my-volunteer-experience-really-pushed-me-to-give-the-best-of-myself {
  color: #c1272d;
  text-align: left;
  font-family: "NotoSansJp-Medium", sans-serif;
  font-size: 32px;
  line-height: 48px;
  font-weight: 500;
  position: relative;
  align-self: stretch;
}
.frame-153 {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.ryuji-head-of-matsuri-barcelona {
  color: #c1272d;
  text-align: left;
  font-family: "NotoSansJp-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: relative;
  flex: 1;
}
.contact-form {
  padding: 40px 0px 40px 0px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  width: 360px;
  position: relative;
}
.cta-block-2 {
  background: #fcf4f4;
  padding: 40px 20px 40px 20px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  justify-content: flex-start;
  flex: 1;
  position: relative;
}
.frame-63 {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.embed-form {
  color: #c1272d;
  text-align: left;
  font-family: "NotoSansJp-Medium", sans-serif;
  font-size: 40px;
  line-height: 48px;
  font-weight: 500;
  position: relative;
  align-self: stretch;
}
.for-general-enquiries-please-reach-out-via-the-form-below-to-reach-out-via-email {
  color: #c1272d;
  text-align: left;
  font-family: "NotoSansJp-Regular", sans-serif;
  font-size: 20px;
  line-height: 34px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
.frame-203 {
  background: #ffffff;
  border-style: solid;
  border-color: #c1272d;
  border-width: 1px;
  padding: 72px 20px 72px 20px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame-202 {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame-199 {
  display: flex;
  flex-direction: column;
  gap: 2px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.name {
  color: #c1272d;
  text-align: left;
  font-family: "NotoSansJp-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
.rectangle-77 {
  border-style: solid;
  border-color: #c1272d;
  border-width: 1px;
  align-self: stretch;
  flex-shrink: 0;
  height: 48px;
  position: relative;
}
.frame-200 {
  display: flex;
  flex-direction: column;
  gap: 2px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.email {
  color: #c1272d;
  text-align: left;
  font-family: "NotoSansJp-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
.frame-201 {
  display: flex;
  flex-direction: column;
  gap: 2px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.message {
  color: #c1272d;
  text-align: left;
  font-family: "NotoSansJp-Regular", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
.rectangle-772 {
  border-style: solid;
  border-color: #c1272d;
  border-width: 1px;
  align-self: stretch;
  flex-shrink: 0;
  height: 200px;
  position: relative;
}
.frame-62 {
  background: #fefce6;
  border-radius: 40px;
  border-style: solid;
  border-color: #c1272d;
  border-width: 1px;
  padding: 16px 24px 16px 24px;
  display: flex;
  flex-direction: row;
  gap: 2px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.send {
  color: #c1272d;
  text-align: left;
  font-family: "NotoSansJp-Medium", sans-serif;
  font-size: 16px;
  font-weight: 500;
  position: relative;
}
.mdi-chevron-down2 {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.frame-187 {
  padding: 40px 0px 40px 0px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 360px;
  position: relative;
}
.volunteering-faq {
  color: #c1272d;
  text-align: left;
  font-family: "NotoSansJp-Bold", sans-serif;
  font-size: 32px;
  font-weight: 700;
  position: relative;
}
.frame-219 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame-133 {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame-126 {
  padding: 0px 40px 0px 40px;
  display: flex;
  flex-direction: row;
  gap: 24px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 360px;
  position: relative;
}
.how-can-i-join {
  color: #c1272d;
  text-align: left;
  font-family: "NotoSansJp-Medium", sans-serif;
  font-size: 24px;
  font-weight: 500;
  position: relative;
  flex: 1;
}
.frame-148 {
  background: #fefce6;
  border-style: solid;
  border-color: #c1272d;
  border-width: 1px;
  flex-shrink: 0;
  width: 40px;
  height: 40px;
  position: relative;
  overflow: hidden;
}
.mdi-light-plus {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 8px;
  top: 8px;
  overflow: visible;
}
.frame-134 {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.that-s-an-example-of-a-very-long-question-for-you-to-see-what-happens-when-there-are-2-lines {
  color: #c1272d;
  text-align: left;
  font-family: "NotoSansJp-Medium", sans-serif;
  font-size: 24px;
  font-weight: 500;
  position: relative;
  flex: 1;
}
.mdi-light-plus2 {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 8px;
  top: 8px;
  overflow: visible;
}
.frame-132 {
  background: #fcf4f4;
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.who-can-i-come-with {
  color: #c1272d;
  text-align: left;
  font-family: "NotoSansJp-Medium", sans-serif;
  font-size: 24px;
  font-weight: 500;
  position: relative;
  flex: 1;
}
.frame-1482 {
  background: #c1272d;
  border-style: solid;
  border-color: #c1272d;
  border-width: 1px;
  flex-shrink: 0;
  width: 40px;
  height: 40px;
  position: relative;
  overflow: hidden;
}
.mdi-light-plus3 {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 8px;
  top: 8px;
  overflow: visible;
}
.frame-185 {
  padding: 0px 40px 0px 40px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.this-is-an-example-of-answer-lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-sed-do-eiusmod-tempor-incididunt-ut-labore-et-dolore-magna-aliqua-ut-enim-ad-minim-veniam {
  color: #c1272d;
  text-align: left;
  font-family: "NotoSansJp-Regular", sans-serif;
  font-size: 20px;
  line-height: 34px;
  font-weight: 400;
  position: relative;
  flex: 1;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}
.frame-492 {
  padding: 0px 40px 0px 40px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame-27 {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.discover-all-booths {
  color: #c1272d;
  text-align: left;
  font-family: "NotoSansJp-Medium", sans-serif;
  font-size: 16px;
  font-weight: 500;
  position: relative;
}
.line-21 {
  margin-top: -1px;
  border-style: solid;
  border-color: #c1272d;
  border-width: 1px 0 0 0;
  align-self: stretch;
  flex-shrink: 0;
  height: 0px;
  position: relative;
}
.mdi-chevron-down3 {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.frame-135 {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.when-can-i-start {
  color: #c1272d;
  text-align: left;
  font-family: "NotoSansJp-Medium", sans-serif;
  font-size: 24px;
  font-weight: 500;
  position: relative;
  flex: 1;
}
.mdi-light-plus4 {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 8px;
  top: 8px;
  overflow: visible;
}
.group-722 {
  flex-shrink: 0;
  width: 42px;
  height: 42px;
  position: relative;
  overflow: visible;
}
._1-block-1-cta-section {
  padding: 40px 20px 80px 20px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 360px;
  position: relative;
}
.frame-183 {
  border-style: solid;
  border-color: #c1272d;
  border-width: 1px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-end;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.cta-block {
  padding: 40px 48px 40px 48px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  min-height: 400px;
  position: relative;
}
.want-to-volunteer {
  color: #c1272d;
  text-align: left;
  font-family: "NotoSansJp-Medium", sans-serif;
  font-size: 32px;
  font-weight: 500;
  position: relative;
  align-self: stretch;
}
.frame-493 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.become-a-volunteer {
  color: #c1272d;
  text-align: left;
  font-family: "NotoSansJp-Medium", sans-serif;
  font-size: 16px;
  font-weight: 500;
  position: relative;
}
.mdi-chevron-down4 {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.subtract {
  align-self: stretch;
  flex-shrink: 0;
  height: 319px;
  position: relative;
  overflow: visible;
}
.footer {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.frame-106 {
  border-style: solid;
  border-color: #c1272d;
  border-width: 1px;
  padding: 24px 20px 24px 20px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 360px;
  position: relative;
}
._2-8-1 {
  flex-shrink: 0;
  width: 307px;
  height: 69px;
  position: relative;
  object-fit: cover;
}
.crowdfunding-campaign {
  color: #c1272d;
  text-align: left;
  font-family: "NotoSansJp-Medium", sans-serif;
  font-size: 16px;
  font-weight: 500;
  position: relative;
}
.mdi-chevron-down5 {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.frame-105 {
  display: flex;
  flex-direction: row;
  gap: 32px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.twitter-icon {
  flex-shrink: 0;
  width: 32px;
  height: 32px;
  position: static;
}
.ellipse-25 {
  background: #c1272d;
  border-radius: 50%;
  border-style: solid;
  border-color: #c1272d;
  border-width: 1.2px;
  width: 32px;
  height: 32px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.ri-twitter-x-fill {
  width: 20px;
  height: 20px;
  position: absolute;
  left: 6px;
  top: 6px;
  overflow: visible;
}
.instagram-icon {
  flex-shrink: 0;
  width: 32px;
  height: 32px;
  position: relative;
  overflow: visible;
}
.facebook-icon {
  flex-shrink: 0;
  width: 32px;
  height: 32px;
  position: relative;
  overflow: visible;
}
.frame-221 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 360px;
  position: relative;
}
.frame-73 {
  border-style: solid;
  border-color: #c1272d;
  border-width: 1px;
  padding: 24px 20px 24px 20px;
  display: flex;
  flex-direction: column;
  gap: 60px;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
  height: 495px;
  position: relative;
}
.frame-67 {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.activities-2024 {
  color: #c1272d;
  text-align: left;
  font-family: "NotoSansJp-Medium", sans-serif;
  font-size: 20px;
  font-weight: 500;
  position: relative;
}
.frame-66 {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.program {
  color: #c1272d;
  text-align: left;
  font-family: "NotoSansJp-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-decoration: underline;
  position: relative;
}
.frame-632 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.food-experience {
  color: #c1272d;
  text-align: left;
  font-family: "NotoSansJp-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-decoration: underline;
  position: relative;
}
.frame-672 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.kids-activities {
  color: #c1272d;
  text-align: left;
  font-family: "NotoSansJp-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-decoration: underline;
  position: relative;
}
.frame-64 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.booths {
  color: #c1272d;
  text-align: left;
  font-family: "NotoSansJp-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-decoration: underline;
  position: relative;
}
.frame-65 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.contests {
  color: #c1272d;
  text-align: left;
  font-family: "NotoSansJp-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-decoration: underline;
  position: relative;
}
.frame-662 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.artists {
  color: #c1272d;
  text-align: left;
  font-family: "NotoSansJp-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-decoration: underline;
  position: relative;
}
.frame-69 {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.about {
  color: #c1272d;
  text-align: left;
  font-family: "NotoSansJp-Medium", sans-serif;
  font-size: 20px;
  font-weight: 500;
  position: relative;
}
.about-matsuri {
  color: #c1272d;
  text-align: left;
  font-family: "NotoSansJp-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-decoration: underline;
  position: relative;
}
.event-faq {
  color: #c1272d;
  text-align: left;
  font-family: "NotoSansJp-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-decoration: underline;
  position: relative;
}
.frame-74 {
  border-style: solid;
  border-color: #c1272d;
  border-width: 1px;
  padding: 24px 20px 24px 20px;
  display: flex;
  flex-direction: column;
  gap: 60px;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
  height: 495px;
  position: relative;
}
.frame-68 {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.support-us {
  color: #c1272d;
  text-align: left;
  font-family: "NotoSansJp-Medium", sans-serif;
  font-size: 20px;
  font-weight: 500;
  position: relative;
}
.volunteering {
  color: #c1272d;
  text-align: left;
  font-family: "NotoSansJp-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-decoration: underline;
  position: relative;
}
.crowdfunding {
  color: #c1272d;
  text-align: left;
  font-family: "NotoSansJp-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-decoration: underline;
  position: relative;
}
.sponsorships {
  color: #c1272d;
  text-align: left;
  font-family: "NotoSansJp-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-decoration: underline;
  position: relative;
}
.getting-there {
  color: #c1272d;
  text-align: left;
  font-family: "NotoSansJp-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-decoration: underline;
  position: relative;
}
.contact-us {
  color: #c1272d;
  text-align: left;
  font-family: "NotoSansJp-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-decoration: underline;
  position: relative;
}
.frame-72 {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.frame-70 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.privacy-policy {
  color: #c1272d;
  text-align: left;
  font-family: "NotoSansJp-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-decoration: underline;
  position: relative;
}
.frame-71 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.cookie-policy {
  color: #c1272d;
  text-align: left;
  font-family: "NotoSansJp-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-decoration: underline;
  position: relative;
}
.frame-104 {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 360px;
  position: relative;
}
.frame-61 {
  padding: 0px 20px 0px 20px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame-222 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.group-60 {
  flex-shrink: 0;
  width: 46.8px;
  height: 53.24px;
  position: relative;
  overflow: visible;
}
.designed-by-elly {
  color: #c1272d;
  text-align: left;
  font-family: "-", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: relative;
}
.designed-by-elly-span {
  color: #c1272d;
  font-family: "NotoSansJp-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
}
.designed-by-elly-span2 {
  color: #c1272d;
  font-family: "NotoSansJp-Medium", sans-serif;
  font-size: 20px;
  font-weight: 500;
  text-decoration: underline;
}
.group-63 {
  flex-shrink: 0;
  width: 46.8px;
  height: 53.24px;
  position: relative;
  overflow: visible;
}
.frame-223 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.group-61 {
  flex-shrink: 0;
  width: 46.8px;
  height: 53.24px;
  position: relative;
  overflow: visible;
}
.built-by-naoki {
  color: #c1272d;
  text-align: left;
  font-family: "-", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: relative;
}
.built-by-naoki-span {
  color: #c1272d;
  font-family: "NotoSansJp-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
}
.built-by-naoki-span2 {
  color: #c1272d;
  font-family: "NotoSansJp-Medium", sans-serif;
  font-size: 20px;
  font-weight: 500;
  text-decoration: underline;
}
.group-59 {
  flex-shrink: 0;
  width: 46.8px;
  height: 53.24px;
  position: relative;
  overflow: visible;
}
.matsuri-2024 {
  text-align: center;
  font-family: "MavenPro-Bold", sans-serif;
  font-size: 32px;
  font-weight: 700;
  position: relative;
  align-self: stretch;
  -webkit-text-stroke: 1px #c1272d;
}
